@using Movies.Models.CustomModel
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Rainerres Rentals</h1>
</div>


<div class="row">
    <div class="col-md-5">
        @using (Html.BeginForm("RegisterMovie", "Home", FormMethod.Post))
        {
            <label>MovieName</label>
            @Html.TextBoxFor(model => model.Movies.Name)

            <div class="row">
                @switch (Model.ErrorMapping)
                {
                    case 1:
                        <label>Name Already Exist</label>
                        break;
                    default:
                        @Html.ValidationMessageFor(model => model.Movies.Name)
                        break;
                }
            </div>

            <label>Genre</label>
            @Html.DropDownListFor(model => model.selectedGenreId, 
                new SelectList(Model.GenreList, "Id", "Name"), "Select a genre")
            <div class="row">
               @*  @Html.ValidationMessageFor(model => model.selectedGenreId) *@

                @if(Model.selectedGenreId == -1)
                {
                    <label>Please Select a Genre</label>
                }


            </div>


            <button class="btn btn-success" type="submit">Register</button>
        }
    </div>
</div>
