@using Movies.Models
@model Tuple<MoviesViewModel,GenreViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Rainerres Rentals</h1>
</div>

<div class="row">
    <div class="col-md-5">
        @using (Html.BeginForm("RegisterMovie", "Home", FormMethod.Post))
        {
            <label>MovieName</label>
            @Html.TextBoxFor(model => model.Item1.Name)
            @Html.ValidationMessageFor(model => model.Item1.Name)

            <label>Genre</label>
            @Html.DropDownListFor(model => model.Item2.Id,(SelectList)ViewBag.GenreSelectList, "Select a genre")


            <button class="btn btn-success" type="submit">Register</button>
        }
    </div>
</div>
